@import "tailwindcss";

@theme {
  --color-background: #0e0e0e;
  --color-card: #161616;
  --color-bg-input: #262626;
  --color-bg-button: #201f1f;

  --color-primary: #ff798d;
  --color-secondary: #a68cff;
}

body {
  background-color: var(--color-background);
  color: #fff;
  font-family: "Inter", sans-serif;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

button,
a {
  cursor: pointer;
  outline: none;

  &:hover {
    filter: brightness(0.9);
  }
}

input {
  outline: none;
  background: transparent;
  border: none;
  flex: 1;
  width: 100%;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
